* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: blue;
    background: radial-gradient(ellipse at center, blue 0% black 70%);
    background-size: 100%;
}

p {
    margin: 0px;
    padding: 0px;
}

.reloj {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-shadow: 0px 0px 20px aqua, 0px 0px 20px black;
}

.tiempo {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0px;
}

.fecha {
    letter-spacing: 0.1em;
    font-size: 24px;
}