* {
    margin: 0px;
}

body {
    font-family: sans-serif;
    margin: 0px;
    padding: 25px;
    background-color: aquamarine;
}

.container {
    display: block;
}
header {
    display: flex;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    justify-content: space-between;
    height: 150px;
    align-items: center;
    padding: 10px;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
}

header .menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 20px;
}

header .menu a {
    padding: 20px;
}

header a img {
    display: flex;
    width: 100px;
    height: 100px;
}

.opciones {
    padding: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

a:hover {
    color: white;
}

footer {
    padding: 20px;
    text-align: center;
}

footer .informacion ul li{
    list-style-type: none;
}
