body{
    margin: 0px;
}

.Calculadora-basica {
    display: block;
    padding: 15px;
    margin: 0 1px;
    width: 310px;
    height: 500px;
    border-radius: 20px;
    background-color: aqua;
}

.Calculadora-basica td button {
    display: block;
    width: 65px;
    height: 65px;
    font-size: 25px;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 35px;
    margin-bottom: 45px;
    width: 275px;
    height: 90px;
    border-radius: 20px;
    line-height: 90px;
    background-color:white;
    overflow-y: scroll;
}