body {
    margin: 0px;
}

h1 {
padding-bottom: 20px;
padding-top: 10px;}

.personales {
  
    display: inline-block;
    width:300px;
}

.formacionacademica {
    
    display:inline-block;
    width: 350px;
}

.experiencialaboral {
  
    display: inline-block;
    width: 340px;
}

@media screen and (max-width: 360px) {
    body {
        margin: 0px;
        padding: 10px;
    }    

    ul { 
       list-style-type: none;
       padding-left: 0px;
    }
    
    .personales ul {
        width: 150px;
    }

    .formacionacademica  ul {
       width: 100px; 
    }

    .experiencialaboral ul {
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .personales {
        float: left;
        height: 300px;
        width: 200px;
    }

    .personales ul {
        list-style-type: none;
        
    }

    .formacionacademica {
        float: right;
    }

    .experiencialaboral {
        float: right;
    }
}