body {
    margin: 0px;
    font-family: sans-serif;
}

header {
    width: 100%;
    background: #4E94AB;
}

header img {
    float: right;
    width: 90px;
    height: 50px;
    padding-right: 0px;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: flex;
}

.menu li {
    border-right: 1px solid #fff;
}

.menu li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
} 

main {
    padding: 20px;
}

main img {
    width: 100%;
    height: 50%;
}

footer {
    text-align: center;
}

footer ul li {
    list-style: none;
}

@media screen and (max-width:768px){
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background: #4E94AB;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #fff;
    }

    #btn-menu:checked ~ .menu {
        margin: 0px;
    }

    header img {
        padding-right: 0px;
        height: 50px;
    }
}

@media screen and (max-width:420px){
    main img {
        height: 50%;
        width: 50%;
    }

    header img {
        padding-right: 0px;
        height: 50px;
    }
}