body {
    margin: 1px solid black;
}

.titulo {
    text-align: center;
    font-weight: 900;
}

.contenido {
    display: flex;
}

.subtitulo {
    margin-left: 0px;
    margin-right: 0px;
}

.subtitulo ul li {
    width: 300px;
    padding-left: 0px;
}

.primero {
    padding-right: 0px;
    padding-top: 0px;
}

.segundo {
    padding: 250px;
    padding-top: 0px;
    padding-left: 20px;
}

@media screen and (max-width: 768px){
    body {
        margin: 0px;
        padding: 20px;
    }

    .titulo {
        text-align: center;
    }

    .subtitulo ul li{
        width: 200px;
    }

    .texto {
        width: 600px;
        padding-left: 20px;
    }
    
    .segundo ul li {
        list-style: none;
    }
}