* {
    margin: 0px;
}

.contenido {
    display: flex;
    background-color: gainsboro;
    margin: auto;
}

.titulo {
    background-color: rgb(76, 212, 76);
    margin-right: 15px;
    margin-top: 15px;
}

.titulo h1 {
    background-color: gainsboro;
    text-align: center;
}

.titulo a {
    color: blue;
    background-color: rgb(76, 212, 76);
    height: 150px;
}

.cuerpo {
    background-color: yellow;
    margin-top: 50px;
    margin-left: 20px;
}

.cuerpo img {
    width: 45%;
    height: 45%;
    margin: 0px auto;
    padding: 30px;
    padding-left: 300px;
    padding-right: 260px;
}

.final {
    background-color: gray;
    margin-left: 30px;
    
}

